body {
  font-family: 'Poppins', sans-serif;
}

.main_container{
  max-height: 100vh;
  overflow-y: scroll;
  background-color: #1b2028;
  height: 100vh;
  

}
@media screen and (max-height: 768px) {
  .main_container {
    height: 100%;
  }
}