// src/assets/styles/_color.scss

$primary-color: #1b2028;
$secondary-color: #2ecc71;
$trend-green: #1fc84e;
$background-color: #ecf0f1;
$text-color: #2c3e50;
$grey01: #9e9e9e;
$hover-color: #3a6ff8;
