@use '../../assets/index';
@import '../../assets/colors';
@import '../../assets/mixin';

.chart-container {
  width: 100%;
  height: 60vh; /* Adjust as necessary, vh makes it responsive to screen height */
  min-height: 300px; /* Ensure there's a minimum height for smaller screens */
  max-height: 700px; /* Optional: limit the maximum height */
}

.chart-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;

  .chart-wrapper {
    flex: 1;
    position: relative;
    width: 100%; /* Ensure full width usage */
    height: 100%; /* Ensure full height usage */
  }

  .data-labels {
    padding-left: 20px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
  }

  .label-position {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
  }
}
