@use '../../assets/index' as *;

.team-section {
  background-color: #1a1c23;
  color: #898ca9;
  text-align: center;
  padding: 20px;

  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;

    span {
      color: #6e2fe3; // For the green effect on 'FLAVOUR'
      font-weight: bold;
    }
  }

  p {
    max-width: 600px;
    margin: 0 auto 40px;
    font-size: 1.1rem;
  }

  .team-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
    @include mq(640px) {
      flex-direction: column;
      align-items: center;
    }
    .card {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      max-width: 200px;

      img {
        width: 100%;
        border-radius: 50%;
      }

      h2 {
        font-size: 1.2rem;
        margin: 10px 0;
        color: #000;
      }

      p {
        font-size: 1rem;
        color: #898ca9;
      }
    }
  }
}
