@use '../../assets/index' as *;


$primary-color: #1b2028;
$hover-border-color: #3a6ff8;;
$sent-color: #e74c3c; // Red for "Sent"
$received-color: green; // Blue for "Received"

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 940px; // Match the height of chart-container
  background-color:  #1b2028; // Match the background of charts-page

  .loader {
    border: 7px solid #333; // Darker color for the outer circle
    border-top: 5px solid blue; // White color for the spinning part
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  p {
    margin-top: 20px;
    color: #ffffff;
    font-size: 18px;
  }
}

.transactions-page {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: $primary-color;
  color: white;

  .transactions-header,
  .transactions-body {
    display: flex;
    flex-direction: column;
  }

  .transaction-row {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #3c4049;
    background-color: darken($primary-color, 5%);

    &:hover {
      border: 1px solid $hover-border-color;
    }

    &:nth-child(odd) {
      background-color: darken($primary-color, 2%);
    }

    &:nth-child(even) {
      background-color: lighten($primary-color, 1%);
    }

    &.transaction-header {
      background-color: $hover-border-color;
      color: white;
      font-weight: bold;
    }
  }

  .transaction-cell {
    flex: 1;
    text-align: left;
    padding: 10px;

    &:first-child {
      flex: 0.8;
    }

    &:last-child {
      flex: 1.2;
    }

    &.sent {
      color: $sent-color; // Red for "Sent"
    }

    &.received {
      color: $received-color; // Blue for "Received"
    }

    // Style for smaller screen widths
    @media (max-width: 768px) {
      font-size: 14px;
      padding: 8px;
    }
  }
}
